---
import FeedGrid from '../../components/FeedGrid.astro';
import data from '../../system/fieldnotes.json';
---

<html>
  <body style="background:#f4ecd9;color:#2f3a32;margin:0;font-family:sans-serif;">
    <FeedGrid items={data} />
  </body>
</html>
