---
const { title = 'Fig Ellis', skin = 'skin-default' } = Astro.props;
---
<!doctype html>
<html lang="en" class={skin}>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
    <link rel="stylesheet" href="/src/styles/global.css" />
    <link rel="stylesheet" href="/src/styles/skins.css" />
  </head>
  <body class={skin}>
    <main>
      <slot />
    </main>
  </body>
</html>
